.loaderBlock {
  position: relative;
  display: block;
  border-bottom: 0.5px solid lightgrey;
  width: 95%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

.file__title {
  text-align: left;
}

.loaderBlock:hover {
  background: #fafafa;
}

[data-active='false'].loaderBlock {
  opacity: 0.7;
}

.loaderBlock:last-child {
  border-bottom: none;
}

.loader__checkbox {
  display: flex;
  align-items: center;
  font-size: 0.8em;
}

.loader__header {
  display: flex;
  align-items: center;
  font-weight: 600;
}

.loader__options {
  min-width: 150px;
}

.loader__toggle {
  cursor: pointer;
}

[data-active='false'] .loader__toggle,
[data-active='false'] .loader__info span {
  color: grey !important;
}

.loader__info {
  font-size: 0.8em;
  margin-bottom: 0.5em;
  margin-right: -10px;
}
